

/* important section */
.jsmind-inner {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
} /* box-shadow:0 0 2px #000; */
.jsmind-inner {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* z-index:1 */
canvas {
  position: absolute;
  z-index: 1;
}

jmnodes {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  min-width: 600px;
  word-break: break-all;
}
/* 17行 @todo 调整元素样式 */
jmnode {
  position: absolute;
  cursor: default;
  max-width: 600px;
}

/* default theme */
jmnode {
  padding: 10px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #666;
  font: 16px/1.125 Verdana, Arial, Helvetica, sans-serif;
}

#jsmind_container {
  width: 100%;
  height: auto;
  background-color: #fff;
}
/* kms1 theme */
/* 节点样式 */
jmnodes.theme-kms1 jmnode {
  background-color: #e2f0ff;
  border-radius: 4px;
  font-size: 30px;
  color: #333;
}
/* 根节点样式  @todo 老大样式 */
jmnodes.theme-kms1 jmnode.root {
  background: #c0deff;
  border-radius: 6px;
  font-size: 30px;
  color: #333;
}